<div>
  <img src="http://pic.66wz.com/0/01/50/99/1509922_951089.jpg" alt="pic" class="portrait"/>
  <h4 class="student-welcome-title">
    欢迎你！ 赵军章 同学
    你被录取到 {{college.title}} 财务管理专业
  </h4>

  <div class="row modules-list-container">
    <ul class="nav nav-pills modules-list actions">
      <li class="action" ng-repeat="module in modules">
        <a ng-href="#/college/{{college.name}}/{{ module.url }}" class="btn btn-success">
          {{module.desc}}
        </a>
      </li>

    </ul>

  </div>
  <div class="module-view" ui-view></div>
</div>