<div ng-controller="ProcessChangeCtrl">
  <div class='contentWrapper ng-cloak'>
    <div class='content'>
      <div class="row-fluid">
        <ul class="thumbnails">
          <li class="span3">
            当前流程：
            <div class="thumbnail in-using-process" data-drop="true" ng-model='usingList' data-jqyoui-options="usingList"
                 jqyoui-droppable="{multiple:true}">
              <div class="caption">
                <div class="btn btn-info btn-draggable" ng-repeat="item in usingList" ng-show="item.title"
                     data-drag="{{item.drag}}" data-jqyoui-options="{revert: 'invalid'}" ng-model="usingList"
                     jqyoui-draggable="{index: {{$index}},animate:true}">{{item.title}}
                </div>
              </div>
            </div>
          </li>
          <li class="span3">
            待添加：
            <div class="thumbnail not-in-using-process" data-drop="true" ng-model='deleteList' data-jqyoui-options="deleteList"
                 jqyoui-droppable="{multiple:true}">
              <div class="caption">
                <div class="btn btn-info btn-draggable" ng-repeat="item in deleteList" ng-show="item.title"
                     data-drag="{{item.drag}}" data-jqyoui-options="{revert: 'invalid'}" ng-model="deleteList"
                     jqyoui-draggable="{index: {{$index}},animate:true}">{{item.title}}
                </div>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <button class='btn btn-primary'>Save</button>
</div>