@(appName: String)(content: Html)

<!DOCTYPE html>
<!--[if IE 8]>
<html class="no-js lt-ie9" lang="en" ng-app="@appName"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="en" ng-app="@appName"> <!--<![endif]-->

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width">
        <title>Smart Registration</title>

        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/bootstrap.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
        <script src="@routes.Assets.at("javascripts/vendor/underscore.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("javascripts/vendor/angularjs/angular.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("javascripts/vendor/angularjs/angular-ui-router.js")" type="text/javascript"></script>

        <script src="@routes.Assets.at("javascripts/services/accommodation_service.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("javascripts/accommodation.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("javascripts/services/college_service.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("javascripts/college.js")" type="text/javascript"></script>
    </head>
    <body>
        @content
    </body>
</html>
